<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Bootshop online Shopping cart</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<!-- Bootstrap style -->
<link id="callCss" rel="stylesheet" href="resources/themes/bootshop/bootstrap.min.css" media="screen" />
<link href="resources/themes/css/base.css" rel="stylesheet" media="screen" />
<!-- Bootstrap style responsive -->
<link href="resources/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="resources/themes/css/font-awesome.css" rel="stylesheet" type="text/css" />
<!-- Google-code-prettify -->
<link href="resources/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
<!-- fav and touch icons -->
<link rel="shortcut icon" href="resources/themes/images/ico/favicon.ico"></link>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/themes/images/ico/apple-touch-icon-144-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/themes/images/ico/apple-touch-icon-114-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/themes/images/ico/apple-touch-icon-72-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" href="resources/themes/images/ico/apple-touch-icon-57-precomposed.png"></link>
<style type="text/css" id="enject"></style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="resources/themes/js/myjs.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
	    initializeDocument();
		//$("#headerUserName").text(getCookie("userName"));
	   $.fn.serializeObject = function()
	   {
	      var o = {};
	      var a = this.serializeArray();
	      $.each(a, function() {
	          if (o[this.name]) {
	              if (!o[this.name].push) {
	                  o[this.name] = [o[this.name]];
	              }
	              o[this.name].push(this.value || '');
	          } else {
	              o[this.name] = this.value || '';
	          }
	      });
	      return o;
	   };
	   
 	   $(".updateQuantity").click(function(event) {
		   event.preventDefault();
		   //alert("triggered");
		   var data = (JSON.stringify($(this).serializeObject()));
		   //alert(data);
 		   $.ajax({
			   url:"api/cart",
			   type:"PUT",
			   data:data,
			   contentType:"application/json",
			   dataType:"json",
			   success: function(){
				  window.location.reload();
			   },
			   error: function(errMsg){
				   alert(errMsg);
			   }
			 });
	   });
 	   
 	  $(".btn-danger").click(function(event) {
		   event.preventDefault();
		   $.ajax({
			   url:"api/cart?cartId="+$(this).attr("value"),
			   type:"DELETE",
			   contentType:"application/json",
			   success: function(){
				  window.location.reload();
			   },
			   error: function(errMsg){
				   alert(errMsg);
			   }
			 });
	   });
 	  
 	  $("form#shipProduct").submit(function(event){
 		  event.preventDefault();
		   //alert("triggered");
		   var data = (JSON.stringify($(this).serializeObject()));
 		   $.ajax({
			   url:"api/shipping",
			   type:"POST",
			   data:data,
			   contentType:"application/json",
			   dataType:"json",
			   success: function(){
				  window.location.reload();
			   },
			   error: function(requestObject, error, errorThrown){
				   alert(error);
				   alert(errorThrown);
			   }
			 });
 	  });
   });
</script>
</head>

<body>
	 <div th:include="layout :: topper"></div>
	 <div id="mainBody">
		<div class="container">
			<div class="row">
				<div th:include="layout :: sidebar"></div>
				<!-- *************************Main body******************* -->
				<div class="span9">
				    <ul class="breadcrumb">
						<li><a href="/">Home</a> <span class="divider">/</span></li>
						<li class="active"> SHOPPING CART</li>
				    </ul>
					<h3>  SHOPPING CART [ <small th:text="${#lists.size(listOfCartItems)} + ' Item(s)'">3 Item(s) </small>]<a href="products.html" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
					<hr class="soft"/>
							
					<table class="table table-bordered">
				              <thead>
				                <tr>
				                  <th>Product</th>
				                  <th>Description</th>
				                  <th>Quantity/Update</th>
								  <th>Price</th>
				                  <th>Discount</th>
				                  <th>Tax</th>
				                  <th>Total</th>
								</tr>
				              </thead>
				              <tbody>
				              <tr th:each="cartItem, iterStat : ${listOfCartItems}">
				                  <!-- <td> <img width="60" src="resources/themes/images/products/4.jpg" alt=""/></td> -->
				                  <td th:utext="${cartItem.product.name}">MASSA AST<br/>Color : black, Material : metal</td>
				                  <td th:utext="${cartItem.product.description}" >MASSA AST<br/>Color : black, Material : metal</td>
								  <td>
									<div class="input-append">
										<input class="span1" style="max-width:34px; float: left;" id="appendedInputButtons" size="16" type="text" disabled="disabled" th:value="${cartItem.quantity}"/>
										<form style="float: right;" id="'addQuantity' + ${iterStat.count}" class="updateQuantity" name="increaseQuantity" action="api/cart" method="PUT">
											<input type="hidden" th:id="'addCartId' + ${iterStat.count}" name="cartId" th:value="${cartItem.cartId}"></input>
											<input type="hidden" th:id="'addUserId' + ${iterStat.count}" name="userId" th:value="${cartItem.userId}"></input>
											<input type="hidden" th:id="'addAction' + ${iterStat.count}" name="action" th:value="decrease"></input>
											<button class="btn" type="submit" value="Submit"><i class="icon-minus"></i></button>
										</form>
										<form style="float: right;" id="'subQuantity' + ${iterStat.count}" class="updateQuantity" name="increaseQuantity" action="api/cart" method="PUT">
											<input type="hidden" th:id="'subCartId' + ${iterStat.count}" name="cartId" th:value="${cartItem.cartId}"></input>
											<input type="hidden" th:id="'subUserId' + ${iterStat.count}" name="userId" th:value="${cartItem.userId}"></input>
											<input type="hidden" th:id="'subAction' + ${iterStat.count}" name="action" th:value="increase"></input>
											<button class="btn" type="submit" value="Submit"><i class="icon-plus"></i></button>
										</form>
										<button style="float: right;" class="btn btn-danger" type="submit" th:value="${cartItem.cartId}" th:id="'delCart' + ${iterStat.count}"><i class="icon-remove icon-white"></i></button>
									</div>
								  </td>
				                  <td th:text="${cartItem.product.price}">$120.00</td>
				                  <td>$00.00</td>
				                  <td>$00.00</td>
				                  <td th:text="${cartItem.totalPrice}">$110.00</td>
				                </tr>
				                <!-- <tr>
				                  <td> <img width="60" src="resources/themes/images/products/4.jpg" alt=""/></td>
				                  <td>MASSA AST<br/>Color : black, Material : metal</td>
								  <td>
									<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"/><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
								  </td>
				                  <td>$120.00</td>
				                  <td>$25.00</td>
				                  <td>$15.00</td>
				                  <td>$110.00</td>
				                </tr>
								<tr>
				                  <td> <img width="60" src="resources/themes/images/products/8.jpg" alt=""/></td>
				                  <td>MASSA AST<br/>Color : black, Material : metal</td>
								  <td>
									<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"  size="16" type="text"/><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
								  </td>
				                  <td>$7.00</td>
				                  <td>$1.00</td>
				                  <td>$1.00</td>
				                  <td>$8.00</td>
				                </tr>
								<tr>
				                  <td> <img width="60" src="resources/themes/images/products/3.jpg" alt=""/></td>
				                  <td>MASSA AST<br/>Color : black, Material : metal</td>
								  <td>
									<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1"  size="16" type="text"/><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
								  </td>
				                  <td>$120.00</td>
				                  <td>$25.00</td>
				                  <td>$15.00</td>
				                  <td>$110.00</td>
				                </tr>
								-->
				                <tr>
				                  <td colspan="6" style="text-align:right">Total Price:	</td>
				                  <td th:text="${ultimateTotal}"> $228.00</td>
				                </tr>
								 <tr>
				                  <td colspan="6" style="text-align:right">Total Discount:	</td>
				                  <td> $00.00</td>
				                </tr>
				                 <tr>
				                  <td colspan="6" style="text-align:right">Total Tax:	</td>
				                  <td> $00.00</td>
				                </tr>
								 <tr>
				                  <td colspan="6" style="text-align:right"><strong>TOTAL ($228 - $50 + $31) =</strong></td>
				                  <td class="label label-important" style="display:block"> <strong th:text="${ultimateTotal}"> $155.00 </strong></td>
				                </tr>
							</tbody>
				            </table>
						
							<table class="table table-bordered">
							 <tr><th>Give Your Shipping Address </th></tr>
							 <tr> 
							 <td>
								<form class="form-horizontal" name="shipProduct" id="shipProduct" action="shipping" method="POST">
								  <div class="control-group">
								  	<label class="control-label" for="street">Street </label>
									<div class="controls">
									  <input type="text" id="street" name="street" placeholder="Country"/>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label" for="country">Country </label>
									<div class="controls">
									  <input type="text" id="country" name="country" placeholder="Country"/>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label" for="zipCode">Post Code/ Zipcode </label>
									<div class="controls">
									  <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code"/>
									</div>
								  </div>
								  <input type="hidden" id="userId" name="userId" value="3"></input>
								  <div class="control-group">
									<div class="controls">
									  <button type="submit" value="Submit" class="btn">Confirm </button>
									</div>
								  </div>
								</form>				  
							  </td>
							  </tr>
				            </table>		
					<a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
					<a href="reviewOrder" class="btn btn-large pull-right">Checkout <i class="icon-arrow-right"></i></a>	
				</div>
				<!-- *************************Main body ends******************* -->
				</div>
			</div>
		</div>
	 <div th:include="layout :: footer"></div>
</body>
</html>