<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Bootshop online Shopping cart</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<!-- Bootstrap style -->
<link id="callCss" rel="stylesheet" href="resources/themes/bootshop/bootstrap.min.css" media="screen" />
<link href="resources/themes/css/base.css" rel="stylesheet" media="screen" />
<!-- Bootstrap style responsive -->
<link href="resources/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="resources/themes/css/font-awesome.css" rel="stylesheet" type="text/css" />
<!-- Google-code-prettify -->
<link href="resources/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
<!-- fav and touch icons --> 
<link rel="shortcut icon" href="resources/themes/images/ico/favicon.ico"></link>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/themes/images/ico/apple-touch-icon-144-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/themes/images/ico/apple-touch-icon-114-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/themes/images/ico/apple-touch-icon-72-precomposed.png"></link>
<link rel="apple-touch-icon-precomposed" href="resources/themes/images/ico/apple-touch-icon-57-precomposed.png"></link>
<style type="text/css" id="enject"></style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
   $(document).ready(function() {
	   $.fn.serializeObject = function()
	   {
	      var o = {};
	      var a = this.serializeArray();
	      $.each(a, function() {
	          if (o[this.name]) {
	              if (!o[this.name].push) {
	                  o[this.name] = [o[this.name]];
	              }
	              o[this.name].push(this.value || '');
	          } else {
	              o[this.name] = this.value || '';
	          }
	      });
	      return o;
	   };
	   
 	  $("form#register").submit(function(event){
 		   event.preventDefault();
		   var data = (JSON.stringify($(this).serializeObject()));
 		   $.ajax({
			   url:"api/register",
			   type:"POST",
			   data:data,
			   contentType:"application/json",
			   dataType:"json",
			   success: function(data, x , y){
				  window.location = "login";
			   },
			   error: function(requestObject, error, errorThrown){
				   alert(error);
				   alert(errorThrown);
			   }
			 });
 	  });
   });
</script>
</head>

<body>
	 <div th:include="layout :: topper"></div>
	 <div id="mainBody">
		<div class="container">
			<div class="row">
				<div th:include="layout :: sidebar"></div>
				<!-- *************************Main body******************* -->
				<div class="span9">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a> <span class="divider">/</span></li>
						<li class="active">Register</li>
					</ul>
					<h3>Registration</h3>
					<table class="table table-bordered">
							 <tr><th>Enter Your Details</th></tr>
							 <tr> 
							 <td>
								<form class="form-horizontal" action="api/register" id="register" method="POST">
								  <div class="control-group">
									<label class="control-label" for="inputFirstName">Your First Name</label>
									<div class="controls">
									  <input type="text" id="inputFirstName" name="inputFirstName" placeholder="First Name"/>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label" for="inputLastName">Your Last Name</label>
									<div class="controls">
									  <input type="text" id="inputLastName" name="inputLastName" placeholder="Last Name"/>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label" for="inputEmail">Email</label>
									<div class="controls">
									  <input type="text" id="inputEmail" name="inputEmail" placeholder="Email"/>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label" for="inputPassword">Password</label>
									<div class="controls">
									  <input type="text" id="inputPassword" name="inputPassword" placeholder="Password"/>
									</div>
								  </div>
									<div class="control-group">
										<div class="controls">
<!-- 											<input type="hidden" name="email_create" value="1"/> 
											<input type="hidden" name="is_new_customer" value="1"/> -->
											<input class="btn btn-large btn-success" type="submit" value="Submit" />
										</div>
									</div>
								</form>				  
							  </td>
							  </tr>
				            </table>
				</div>
				<!-- *************************Main body ends******************* -->
				</div>
			</div>
		</div>
	 <div th:include="layout :: footer"></div>
</body>
</html> 